/*
 * Helpers
 * Helpful Sass mixins for writing cleaner CSS
 */

@mixin transform($value) {
  -webkit-transform: $value;
  transform: $value;
}

@mixin transform-style($value) {
  -webkit-transform-style: $value;
  -moz-transform-style: $value;
  transform-style: $value;
}

