<div class="row">
  <div class="small-12 medium-9 large-10 columns">
    {{input value=titleFilter placeholder="Filter Categories"}}
  </div>
  <div class="small-12 medium-3 large-2 columns">
    {{#link-to 'categories.new' classNames='button small'}}
      Add Category
    {{/link-to}}
  </div>
</div>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  {{#each category in filteredContent}}
    {{block-grid-tile model=category isExpandable=true clickAction='open'}}
  {{/each}}
</ul>

