<h1>New Category</h1>

<form>
  <div class="row">
    <div class="small-12 columns">
      {{input placeholder="Title" value=categoryTitle}}
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <button {{action 'saveForm'}}>Save</button>
    </div>
  </div>
</form>

