@import '../vars';

.tile {
  .tile-inner {
    background-color: white;
    box-shadow: 1px 1px 1px 0px black;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    // float: left;

    img {
      width: 100%;
    }
  }

  &.expanded {
    width: 66.666666666%;

    .tile-inner {
      width: calc(50% - 0.625rem);
    }
  }
}
