{{! Navbar }}
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1>{{#link-to 'index'}}Knowhow{{/link-to}}</h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Login</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <ul class="left">
      <li>{{#link-to 'categories'}}Categories{{/link-to}}</li>
      <li>{{#link-to 'collections'}}Collections{{/link-to}}</li>
      <li>{{#link-to 'articles'}}Articles{{/link-to}}</li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-12 columns">
    {{outlet}}
  </div>
</div>
